@tailwind base;
@tailwind components;
@tailwind utilities;
/* root css */
:root {
	--pattens-blue: #dee2e6;
	--summerSky: #40a7ff;
	--codGrey: #30363b;
	--slateGrey: #7d838b;
	--blueCharcoal: #272e33;

	--grassGreen: #2ed97d;
	--mayaBlue: #86b7fe;
	--dodgerBlue: #0099ff;
	--dodgerBlueWith25Opacity: #008ae646;
	--electricBlue: #008ae6;
	--white: #fff;
	--whiteSmoke: #f7f7f7;
	--whisper: #e6e6e6;
	--charcoal: #444444;
	--nightRider: #333;
	--black: #000;
	--persianRed: #e52525;
	--bloodred: #d7002e;
	--bloodredWith25Opacity: #d7002f42;
	--gympoolBlue: #01b0f5;
	--pink: #e67f7f;
	--sunflower: #e4be1f;
	--chestnut: #b95252;
	--dodgerBlue: #2680ea;
	--pattensBlue: #dee2e6;
	--navyBlue: #0058e5;
}
.grecaptcha-badge {
	visibility: hidden;
}
